.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: rgb(149, 162, 175);
}

td {
  background-color: rgb(219, 230, 236);
}








